{% extends "home/base.html" %}
{% block content %}
<div class="jumbotron">
    <div class="container">
      <br><br><br>
      <h1>ユーザー管理を行います</h1>
      <p>行う操作を選択してください。</p>
      <p>
        {% if user.is_authenticated %}
          <a class="btn btn-primary btn-lg" href="{% url "accounts:logout" %}" role="button">ログアウト</a>
          <a class="btn btn-primary btn-lg" href="{% url "accounts:person" %}" role="button">プロフィール確認</a>
        {% else %}
          <a class="btn btn-primary btn-lg" href="{% url "accounts:login" %}" role="button">ログイン</a>
          <a class="btn btn-warning btn-lg" href="{% url "accounts:create" %}" role="button">ユーザー作成</a>
        {% endif %}
      </p>
    </div>
  </div>
{% endblock content %}
