{% extends 'accounts/base.html' %} 
{% block content %} 


<br><br><br>

{% if form.errors  %}
<div class="alert alert-danger" role="alert">
  <p>ユーザー名かパスワードが間違っていませんか？</p>
</div>
{% endif %}

<form method='post' action='{% url 'accounts:login' %}'>
{% csrf_token %}

<div class="jumbotron">
<div class="container">
<div class="form-group">
    {{ form.username.label_tag }} 
    {{ form.username }} 
</div>

<div class="form-group">
    {{ form.password.label_tag }}
    {{ form.password }}
</div>
 
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">ログイン</button>
        <input name="next" type="hidden" value="{{ next }}"/>
    </div>
</div></div></div></form>
{% endblock %}